{% extends 'base_generic.html' %}
{% block content %}
    <h3>Список авторов в БД</h3>
    <h4>{{author.first_name}} {{author.last_name}}</h4>

        <form method="POST">
            {% csrf_token %}
            <p><label>Измените имя</label><br><input type="text" name="first_name" value="{{autor.first_name}}"/></p>
            <p><label>Измените фамилию</label><br><input type="text" name="last_name" value="{{autor.last_name}}"/></p>
            <p><label>Измените дату рождения</label><br><input type="date" name="date_of_birth" value="{{autor.date_of_birth}}"/></p>
            <p><label>Измениете дату смерти</label><br><input type="date" name="date_of_death" value="{{autor.date_of_death}}"/></p>
            <input type="submit" value="Сохранить">
        </form>
{% endblock %}